:host {
  height: fit-content;
}

.content-container {
  display: flex;
  flex-direction: column;
  gap: 16px;
  align-items: center;

  .icon-box {
    width: 80px;
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-width: 1px;
    border-style: solid;
    border-radius: 16px;

    i {
      font-size: 24px;
    }

    &.primary {
      border-color: var(--md-sys-color-primary);
      color: var(--md-sys-color-primary);
      background-color: var(--md-sys-color-primary-container);
    }

    &.secondary {
      border-color: var(--md-sys-color-secondary);
      color: var(--md-sys-color-secondary);
      background-color: var(--md-sys-color-secondary-container);
    }

    &.tertiary {
      border-color: var(--md-sys-color-tertiary);
      color: var(--md-sys-color-tertiary);
      background-color: var(--md-sys-color-tertiaty-container);
    }
  }

  .title {
    color: var(--md-sys-color-on-surface);
    text-align: center;
  }

  .description {
    color: var(--md-sys-color-on-surface-variant);
    text-align: center;
  }
}