:host {
  height: fit-content;
}

.content-container {
  padding: 32px;
  border: 1px solid var(--md-sys-color-outline-variant);
  background-color: var(--md-sys-color-surface-container-low);
  border-radius: 16px;
  transition: all 0.3s ease;
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 24px;
  overflow: hidden;
  height: 100%;
  box-sizing: border-box;

  &::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 3px;
    background: #00000000;
    opacity: 0;
    -webkit-transition: opacity 0.3s ease;
    transition: opacity 0.3s ease;
  }

  &:hover {
    transform: translateY(-8px);

    &.primary {
      border-color: var(--md-sys-color-primary);

      &::before {
        background: var(--md-sys-color-primary);
        opacity: 1;
      }
    }

    &.secondary {
      border-color: var(--md-sys-color-secondary);

      &::before {
        background: var(--md-sys-color-secondary);
        opacity: 1;
      }
    }

    &.tertiary {
      border-color: var(--md-sys-color-tertiary);

      &::before {
        background: var(--md-sys-color-tertiary);
        opacity: 1;
      }
    }
  }

  .icons {
    display: inline-flex;
    gap: 5px;
    font-size: 24px;
  }

  &.primary .icons {
    color: var(--md-sys-color-primary);
  }

  &.secondary .icons {
    color: var(--md-sys-color-secondary);
  }

  &.tertiary .icons {
    color: var(--md-sys-color-tertiary);
  }

  .title {
    color: var(--md-sys-color-on-surface)
  }

  .description {
    color: var(--md-sys-color-on-surface-variant)
  }

}