.tag {
  font-weight: var(--md-sys-typescale-label-small-weight-prominent);
  color: var(--md-sys-color-primary);
  text-transform: uppercase;
}

.subtitle {
  color: var(--md-sys-color-on-surface-variant);
}

.hello-section,
.hello-section-content {
  display: flex;
  flex-direction: column;
}

.hello-section {
  gap: 16px;
  padding: 24px;
}

.hello-section-content {
  gap: 24px;
}

.secion-actions {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 16px;
}