.hello-section {
  padding: 96px 48px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  gap: 32px;
  flex-wrap: wrap;

  .left {
    gap: 16px;
    display: flex;
    flex-direction: column;

    .hello-section-content {
      gap: 24px;
      display: flex;
      flex-direction: column;
    }

    .tag {
      font-weight: var(--md-sys-typescale-label-small-weight-prominent);
      color: var(--md-sys-color-primary);
      text-transform: uppercase;
    }

    .subtitle {
      font-weight: 300;
      color: var(--md-sys-color-on-surface-variant);
    }

    .secion-actions {
      display: flex;
      flex-direction: row;
      align-items: center;
      gap: 16px;
      flex-wrap: wrap;
    }
  }

  .right {

    $size: 220px;
    $offset: 12px;
    height: $size;
    width: $size;
    position: relative;
    margin: $offset;

    img {
      border-radius: 16px;
      height: $size;
      width: $size;
      position: absolute;
      z-index: 1;
    }

    &:before,
    &:after {
      content: "";
      height: $size;
      width: $size;
      border-radius: 16px;
      border: 2px solid var(--md-sys-color-primary);
      position: absolute;
      border-radius: 16px;
      z-index: 0;
    }

    &:before {
      left: -$offset;
      top: $offset;
    }

    &:after {
      top: -$offset;
      right: -$offset;
      border-color: var(--md-sys-color-secondary);
    }
  }
}


.standard-section {
  display: flex;
  flex-direction: column;
  gap: 64px;
  padding: 96px 24px;
  border-top: 1px solid var(--md-sys-color-outline-variant);


  .header {
    display: flex;
    flex-direction: column;
    gap: 16px;
    align-items: center;
    justify-content: center;

    .title {
      text-align: center;
    }

    .description {
      text-align: center;
      color: var(--md-sys-color-on-surface-variant)
    }
  }
}

.dark-section {
  background-color: var(--md-sys-color-surface-dim);
}

.skills-section {
  .tags {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 16px;
    align-items: stretch;
    justify-content: center;
  }

  .technologies {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 48px;
    align-items: stretch;
    justify-content: center;

    app-technology-tile {
      max-width: 350px;
    }
  }
}

.cards {
  display: flex;
  flex-wrap: wrap;
  gap: 32px;
  align-items: stretch;
  justify-content: center;

  app-card {
    max-width: 500px;
    min-height: 100%;
    height: unset;
    display: block;
  }
}

.social-links {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 16px;
}

.copyright-section {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;

  text-align: center;
  color: var(--md-sys-color-on-surface-variant);
  padding: 24px;
  border-top: 1px solid var(--md-sys-color-outline-variant);
}