.hello-section,
.hello-section-content {
  display: flex;
  flex-direction: column;
}

.hello-section {
  gap: 16px;
  padding: 24px;

  .hello-section-content {
    gap: 24px;
  }

  .tag {
    font-weight: var(--md-sys-typescale-label-small-weight-prominent);
    color: var(--md-sys-color-primary);
    text-transform: uppercase;
  }

  .subtitle {
    font-weight: 300;
    color: var(--md-sys-color-on-surface-variant);
  }

  .secion-actions {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 16px;
  }
}


.standard-section {
  display: flex;
  flex-direction: column;
  gap: 64px;
  padding: 24px;

  .header {
    display: flex;
    flex-direction: column;
    gap: 16px;
    align-items: center;
    justify-content: center;

    .description {
      color: var(--md-sys-color-on-surface-variant)
    }
  }
}

.about-section {
  .cards {
    display: flex;
    flex-wrap: wrap;
    gap: 32px;
    align-items: stretch;
    justify-content: center;

    app-card {
      max-width: 500px;
      min-height: 100%;
      height: unset;
      display: block;
    }
  }
}

.skills-section {
  .tags {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 16px;
    align-items: stretch;
    justify-content: center;
  }

  .technologies {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 48px;
    align-items: stretch;
    justify-content: center;
  }
}