.hello-section {
  gap: 16px;
  padding: 96px 24px;
  display: flex;
  flex-direction: column;

  .hello-section-content {
    gap: 24px;
    display: flex;
    flex-direction: column;
  }

  .tag {
    font-weight: var(--md-sys-typescale-label-small-weight-prominent);
    color: var(--md-sys-color-primary);
    text-transform: uppercase;
  }

  .subtitle {
    font-weight: 300;
    color: var(--md-sys-color-on-surface-variant);
  }

  .secion-actions {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 16px;
  }
}


.standard-section {
  display: flex;
  flex-direction: column;
  gap: 64px;
  padding: 96px 24px;
  border-top: 1px solid var(--md-sys-color-outline-variant);


  .header {
    display: flex;
    flex-direction: column;
    gap: 16px;
    align-items: center;
    justify-content: center;

    .description {
      color: var(--md-sys-color-on-surface-variant)
    }
  }
}

.dark-section {
  background-color: var(--md-sys-color-surface-dim);
}

.skills-section {
  .tags {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 16px;
    align-items: stretch;
    justify-content: center;
  }

  .technologies {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 48px;
    align-items: stretch;
    justify-content: center;

    app-technology-tile {
      max-width: 350px;
    }
  }
}

.cards {
  display: flex;
  flex-wrap: wrap;
  gap: 32px;
  align-items: stretch;
  justify-content: center;

  app-card {
    max-width: 500px;
    min-height: 100%;
    height: unset;
    display: block;
  }
}

.social-links {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 16px;
}