.dark-high-contrast {
  --md-sys-color-primary: rgb(215 245 255);
  --md-sys-color-surface-tint: rgb(0 217 255);
  --md-sys-color-on-primary: rgb(0 0 0);
  --md-sys-color-primary-container: rgb(0 217 255);
  --md-sys-color-on-primary-container: rgb(0 20 26);
  --md-sys-color-secondary: rgb(255 235 238);
  --md-sys-color-on-secondary: rgb(0 0 0);
  --md-sys-color-secondary-container: rgb(255 171 190);
  --md-sys-color-on-secondary-container: rgb(33 0 9);
  --md-sys-color-tertiary: rgb(246 236 255);
  --md-sys-color-on-tertiary: rgb(0 0 0);
  --md-sys-color-tertiary-container: rgb(207 183 255);
  --md-sys-color-on-tertiary-container: rgb(17 0 49);
  --md-sys-color-error: rgb(255 236 233);
  --md-sys-color-on-error: rgb(0 0 0);
  --md-sys-color-error-container: rgb(255 174 164);
  --md-sys-color-on-error-container: rgb(34 0 1);
  --md-sys-color-background: rgb(14 20 23);
  --md-sys-color-on-background: rgb(221 228 230);
  --md-sys-color-surface: rgb(20 19 19);
  --md-sys-color-on-surface: rgb(255 255 255);
  --md-sys-color-surface-variant: rgb(68 71 72);
  --md-sys-color-on-surface-variant: rgb(255 255 255);
  --md-sys-color-outline: rgb(238 240 241);
  --md-sys-color-outline-variant: rgb(192 195 195);
  --md-sys-color-shadow: rgb(0 0 0);
  --md-sys-color-scrim: rgb(0 0 0);
  --md-sys-color-inverse-surface: rgb(229 226 225);
  --md-sys-color-inverse-on-surface: rgb(0 0 0);
  --md-sys-color-inverse-primary: rgb(0 79 95);
  --md-sys-color-primary-fixed: rgb(174 236 255);
  --md-sys-color-on-primary-fixed: rgb(0 0 0);
  --md-sys-color-primary-fixed-dim: rgb(0 217 255);
  --md-sys-color-on-primary-fixed-variant: rgb(0 20 25);
  --md-sys-color-secondary-fixed: rgb(255 217 224);
  --md-sys-color-on-secondary-fixed: rgb(0 0 0);
  --md-sys-color-secondary-fixed-dim: rgb(255 177 194);
  --md-sys-color-on-secondary-fixed-variant: rgb(44 0 15);
  --md-sys-color-tertiary-fixed: rgb(234 221 255);
  --md-sys-color-on-tertiary-fixed: rgb(0 0 0);
  --md-sys-color-tertiary-fixed-dim: rgb(210 187 255);
  --md-sys-color-on-tertiary-fixed-variant: rgb(24 0 64);
  --md-sys-color-surface-dim: rgb(20 19 19);
  --md-sys-color-surface-bright: rgb(81 80 79);
  --md-sys-color-surface-container-lowest: rgb(0 0 0);
  --md-sys-color-surface-container-low: rgb(32 31 31);
  --md-sys-color-surface-container: rgb(49 48 48);
  --md-sys-color-surface-container-high: rgb(60 59 59);
  --md-sys-color-surface-container-highest: rgb(72 70 70);
}
