.dark-medium-contrast {
  --md-sys-color-primary: rgb(175 236 255);
  --md-sys-color-surface-tint: rgb(0 217 255);
  --md-sys-color-on-primary: rgb(0 47 57);
  --md-sys-color-primary-container: rgb(0 217 255);
  --md-sys-color-on-primary-container: rgb(0 60 72);
  --md-sys-color-secondary: rgb(255 209 217);
  --md-sys-color-on-secondary: rgb(82 0 33);
  --md-sys-color-secondary-container: rgb(255 76 135);
  --md-sys-color-on-secondary-container: rgb(0 0 0);
  --md-sys-color-tertiary: rgb(229 213 255);
  --md-sys-color-on-tertiary: rgb(49 0 115);
  --md-sys-color-tertiary-container: rgb(164 118 255);
  --md-sys-color-on-tertiary-container: rgb(0 0 0);
  --md-sys-color-error: rgb(255 210 204);
  --md-sys-color-on-error: rgb(84 0 3);
  --md-sys-color-error-container: rgb(255 84 73);
  --md-sys-color-on-error-container: rgb(0 0 0);
  --md-sys-color-background: rgb(14 20 23);
  --md-sys-color-on-background: rgb(221 228 230);
  --md-sys-color-surface: rgb(20 19 19);
  --md-sys-color-on-surface: rgb(255 255 255);
  --md-sys-color-surface-variant: rgb(68 71 72);
  --md-sys-color-on-surface-variant: rgb(218 221 221);
  --md-sys-color-outline: rgb(175 178 179);
  --md-sys-color-outline-variant: rgb(142 145 145);
  --md-sys-color-shadow: rgb(0 0 0);
  --md-sys-color-scrim: rgb(0 0 0);
  --md-sys-color-inverse-surface: rgb(229 226 225);
  --md-sys-color-inverse-on-surface: rgb(43 42 42);
  --md-sys-color-inverse-primary: rgb(0 79 95);
  --md-sys-color-primary-fixed: rgb(174 236 255);
  --md-sys-color-on-primary-fixed: rgb(0 20 25);
  --md-sys-color-primary-fixed-dim: rgb(0 217 255);
  --md-sys-color-on-primary-fixed-variant: rgb(0 60 72);
  --md-sys-color-secondary-fixed: rgb(255 217 224);
  --md-sys-color-on-secondary-fixed: rgb(44 0 15);
  --md-sys-color-secondary-fixed-dim: rgb(255 177 194);
  --md-sys-color-on-secondary-fixed-variant: rgb(112 0 49);
  --md-sys-color-tertiary-fixed: rgb(234 221 255);
  --md-sys-color-on-tertiary-fixed: rgb(24 0 64);
  --md-sys-color-tertiary-fixed-dim: rgb(210 187 255);
  --md-sys-color-on-tertiary-fixed-variant: rgb(70 0 156);
  --md-sys-color-surface-dim: rgb(20 19 19);
  --md-sys-color-surface-bright: rgb(69 68 68);
  --md-sys-color-surface-container-lowest: rgb(8 7 7);
  --md-sys-color-surface-container-low: rgb(30 29 29);
  --md-sys-color-surface-container: rgb(40 40 39);
  --md-sys-color-surface-container-high: rgb(51 50 50);
  --md-sys-color-surface-container-highest: rgb(62 61 61);
}
