.dark {
  --md-sys-color-primary: rgb(0 217 255);
  --md-sys-color-surface-tint: rgb(175 236 255);
  --md-sys-color-on-primary: rgb(25, 25, 25);
  --md-sys-color-primary-container: rgba(0, 217, 255, 0.1);
  --md-sys-color-on-primary-container: rgb(0 91 108);
  --md-sys-color-secondary: rgb(255 10 120);
  --md-sys-color-on-secondary: rgb(228 228 228);
  --md-sys-color-secondary-container: rgba(255, 10, 120, 0.1);
  --md-sys-color-on-secondary-container: rgb(228 228 228);
  --md-sys-color-tertiary: rgb(124 58 237);
  --md-sys-color-on-tertiary: rgb(228 228 228);
  --md-sys-color-tertiary-container: rgba(124, 58, 237, 0.1);
  --md-sys-color-on-tertiary-container: rgb(237 224 255);
  --md-sys-color-error: rgb(255 180 171);
  --md-sys-color-on-error: rgb(105 0 5);
  --md-sys-color-error-container: rgb(147 0 10);
  --md-sys-color-on-error-container: rgb(255 218 214);
  --md-sys-color-background: rgb(15 15 15);
  --md-sys-color-on-background: rgb(228 228 228);
  --md-sys-color-surface: rgb(19 19 19);
  --md-sys-color-on-surface: rgb(229 229 229);
  --md-sys-color-surface-variant: rgb(71 71 71);
  --md-sys-color-on-surface-variant: rgb(160 160 160);
  --md-sys-color-outline: rgb(77 77 77);
  --md-sys-color-outline-variant: rgb(50 50 50);
  --md-sys-color-shadow: rgb(0 0 0);
  --md-sys-color-scrim: rgb(0 0 0);
  --md-sys-color-inverse-surface: rgb(229 226 225);
  --md-sys-color-inverse-on-surface: rgb(48 48 48);
  --md-sys-color-inverse-primary: rgb(0 104 123);
  --md-sys-color-primary-fixed: rgb(174 236 255);
  --md-sys-color-on-primary-fixed: rgb(0 31 38);
  --md-sys-color-primary-fixed-dim: rgb(0 217 255);
  --md-sys-color-on-primary-fixed-variant: rgb(0 78 93);
  --md-sys-color-secondary-fixed: rgb(255 217 224);
  --md-sys-color-on-secondary-fixed: rgb(63 0 24);
  --md-sys-color-secondary-fixed-dim: rgb(255 177 194);
  --md-sys-color-on-secondary-fixed-variant: rgb(143 0 64);
  --md-sys-color-tertiary-fixed: rgb(234 221 255);
  --md-sys-color-on-tertiary-fixed: rgb(37 0 90);
  --md-sys-color-tertiary-fixed-dim: rgb(210 187 255);
  --md-sys-color-on-tertiary-fixed-variant: rgb(90 0 198);
  --md-sys-color-surface-dim: rgb(0 0 0);
  --md-sys-color-surface-bright: rgb(57 57 57);
  --md-sys-color-surface-container-lowest: rgb(14 14 14);
  --md-sys-color-surface-container-low: rgb(26 26 26);
  --md-sys-color-surface-container: rgb(31 31 31);
  --md-sys-color-surface-container-high: rgb(42 42 42);
  --md-sys-color-surface-container-highest: rgb(52 52 52);
}