name: Build and deploy application

env:
  nodeJsVersion: 24.10.0

on:
  push:
    branches:
      - main
jobs:
  build:
    runs-on: ubuntu-latest
    timeout-minutes: 15
    steps:
      - name: Checkout
        uses: actions/checkout@v5
      - name: Setup NodeJs
        uses: actions/setup-node@v6
        with:
          node-version: ${{ env.nodeJsVersion }}
      - name: Install dependencies
        run: npm ci
      - name: Build application
        run: npm run github-build
      - name: Upload static files as artifact
        id: deployment
        uses: actions/upload-pages-artifact@v3
        with:
          path: dist/profile-page/browser/
  deploy:
    environment:
      name: github-pages
      url: ${{ steps.deployment.outputs.page_url }}
    runs-on: ubuntu-latest
    needs: build
    steps:
      - name: Deploy application to GitHub Pages
        id: deployment
        uses: actions/deploy-pages@v4
